.estructura {
    display: flex;
}

.cabecera {
    width: 100%;
    font-size:30px;
}

.tcabecera{
    color: cadetblue;
    }

.sec1{
    width: 50%;
    background-color: #F5EEF5;
    padding: 40px;
    font-size: 30px;
    }


.sec2{
    width: 50%;
    background-color: #f3f5f3;
    padding: 40px;
    font-size: 30px;
    }

.sec3{
    width: 50%;
    background-color: #f2f9f8;
    padding: 40px;
    font-size: 30px;
    }

.pie{
    width: 25%;
    padding: 40px;
    font-size: 30px;
    background-color: black;
    color: white;
    }

.cabpie{
    width: 100%;
    font-size: 30px;
    background-color: black;
    color: white;
}

body{
    padding: 40px;
    font-family: Calibri, sans-serif;
    }

img{
        display: block;
        margin: auto;
        margin-top: 40px;
        border-radius: 10px;
    }

@media screen and (max-width: 600px) {
    .estructura {
        flex-direction: column;
    }
    .sec1, .sec2, .sec3, .cabpie, .pie{
        width: 100%;
        font-size: 24px;
        padding: 20px;
        }
      }
